* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contact h1 form {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
}

#contact h1 form button {
    box-shadow: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
}
#contact h1 form button[value="true"] {
    color: #a4a4a4;
}
#contact h1 form button[value="true"]:hover,
#contact h1 form button[value="false"] {
    color: #eeb004;
}

form[action$="destroy"] button {
    color: #f44250;
}

#contact {
    max-width: 40rem;
    display: flex;
}

#contact h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

#contact h1 + p {
    margin: 0;
}

#contact h1 + p + p {
    white-space: break-spaces;
}

#contact h1:focus {
    outline: none;
    color: hsl(224, 98%, 58%);
}

#contact a[href*="twitter"] {
    display: flex;
    font-size: 1.5rem;
    color: #3992ff;
    text-decoration: none;
}
#contact a[href*="twitter"]:hover {
    text-decoration: underline;
}

#contact img {
    width: 12rem;
    height: 12rem;
    background: #c8c8c8;
    margin-right: 2rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

#contact h1 ~ div {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}
